html{
    background-color: #1e1e1e;
    font-style: normal;
    font-weight: 2;
    font-family: "Inter", Calibri, 'Trebuchet MS', sans-serif;
}

body{
    flex-direction: column;
    margin: 0;
    color: grey;
}
.topo{
    margin: auto;
    width: 960px;
    height: 80px;
    background-color: #1e1e1e;
    color: grey;
    position: fixed;
}
.barra_nav{
    float: right;
    margin-top: 10px;
    text-decoration: none;
    margin-right: 10px;
}
.container{
    display: table;
    width: 960px;
    margin: auto;
}

.banner{
    float: left;
    margin: auto;
    width: 960px;
    height: 500px;
    background-color: #1e1e1e;
    margin-top: 0;
}
.linkRoxo{
    background-color: #520752;
    padding: 5 20px;
    border-radius: 20px;
}
.content{
    width: 960px;
    height: 500px;
    background-color: #262626;
    float: left;
}
.title{
    color: grey;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}
.btn-1{
    background-color: #520752;
    padding:  5px 40px;
    margin-right: 10px;
    border-radius: 20px;
}

.topo a{
    text-decoration: none;
    font-size: 20px; 
    margin-right: 40px ;
    color: grey;
}
.topo a:hover{
    background-color: #520752;
    padding: 5 20px;
    color: white;
    border-radius: 20px;
}
.itens-content{
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 120px;
    height: auto;
}
.boxText{
    width: 300px;
    height: 200px;
    color: grey;
    float: left;
    margin-right: 100px;
    text-align: justify;
    font-size: 15px;

}
.img{
    width: 280px;
    height: 300px;
    float: right;
    border-radius: 20px;
}
.content-2{
    width: 960px;
    height: 500px;
    float: left;
    background-color: #1e1e1e;
}
.box{
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}
.box1,
.box2,
.box3{
    width: 300px;
    height: 260px;
    background-color: #520752;
    margin-right: 50px;
    border-radius: 30px;
}
.box1-content{
    width: 230px;
    height: 200px;
}
.box1-link{
    align-items: center;
    justify-content: center;
    display: flex;
    text-decoration: none;
    font-weight: bold;
    color: rgb(91, 88, 88);
    padding: 10px;
    width: 80px;
    border-radius: 50px;
    background-color: #1e1e1e;
}
.curso{
    width: 300px;
    height: 180px;
}
.botao{
    position: fixed;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    background-color: #520752;
}
.botao:hover{
        box-shadow: 0px 5px 15px  #3f023f;

}
h2{
    text-align: center;
    color: grey;
}
/*sobre*/

.img-hobbie img{
    width: 380px;
    height: 400px;
    float: left;
    margin-right: 10px;
    line-height: 10px;
}
