html{
    background-color: #1e1e1e;
    font-style: normal;
    font-weight: 2;
    font-family: "Inter", Calibri, 'Trebuchet MS', sans-serif;
}

body{
    margin: 0;
}
.topo{
    margin: auto;
    width: 960px;
    height: 80px;
    background-color: #1e1e1e;
    color: grey;
}
.barra_nav{
    float: right;
    margin-top: 10px;
    text-decoration: none;
    margin-right: 10px;
}
.container{
display: table;
width: 960px;
margin: auto;
}

.banner{
    float: left;
    margin: auto;
    width: 960px;
    height: 500px;
    background-color: #1e1e1e;
    margin-top: 0;
}
.linkRoxo{
    background-color: #520752;
    padding: 5 20px;
    border-radius: 20px;
}
.content{
    width: 960px;
    height: 500px;
    background-color: #262626;
    float: left;
}
.title{
    color: grey;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}
.btn-1{
    background-color: #520752;
    padding:  5px 40px;
    margin-right: 10px;
    border-radius: 20px;
}

a{
    text-decoration: none;
    font-size: 20px; 
    margin-right: 40px ;
    color: grey;
}
a:hover{
    background-color: #520752;
    padding: 5 20px;
    color: white;
    border-radius: 20px;
}



